/* RESET STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
  padding: 2rem;
  overflow: hidden;
}

/* HEADER */

header {
  height: 80vh;
  width: 100vw;
  padding: 12rem 5rem;
  background: #000
    url('https://images.unsplash.com/photo-1547149600-a6cdf8fce60c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80')
    no-repeat fixed center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  color: #fff;
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.header__subtitle {
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 8rem;
}

.header__text {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}

/* SKILLS SECTION */

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills__title {
  font-size: 2.4rem;
}

.skills__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  margin: 1rem 1rem;
}

.skills__icon {
  font-size: 5rem;
}

.skills__text {
  font-size: 1.6rem;
  text-align: center;
}

.fa-html5 {
  color: #f06529;
}
.fa-css3-alt {
  color: #2965f1;
}
.fa-js-square {
  color: #f0db4f;
}
.fa-mobile-alt {
  color: #333;
}

/* BIO SECTION */

.bio {
  background: #000
    url('https://images.unsplash.com/photo-1547149600-a6cdf8fce60c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80')
    no-repeat fixed center;
  background-size: cover;
  height: 80vh;
  width: 100vw;
}
